body{
    background: url(http://mymaplist.com/img/parallax/back.png);
	background-color: #444;
}

.vertical-offset-100{
    padding-top:250px;
}

@font-face {
    font-family: 'Helvetica Neue LT Std 45 Light';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue LT Std 45 Light'), url('../fonts/HelveticaNeueLTStd Lt.woff') format('woff');
}